<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ync.mapper.QuizMapper">
   
   <sql id="criteria">
      <trim prefix="(" suffix=") AND " prefixOverrides="OR">
         <foreach item='type' collection="typeArr">
            <trim prefix="OR">
               <choose>
                  <when test="type == 'T'.toString()">
                     question like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'C'.toString()">
                     answer like '%'||#{keyword}||'%'
                  </when>
                  <when test="type == 'W'.toString()">
                     id like '%'||#{keyword}||'%'
                  </when>
               </choose>
            </trim>
         </foreach>
      </trim>
   </sql>
   
   <select id="getList" resultType="kr.ync.domain.QuizVO">
   <![CDATA[
      select * from quiz where quiz_idx > 0
      order by quiz_idx desc
      ]]>
   </select>
   
   <select id="getuserList" resultType="kr.ync.domain.QuizVO">
   <![CDATA[
      select * from quiz where quiz_idx > 0 AND id LIKE '#{id}'
      order by quiz_idx desc
      ]]>
   </select>
   
   <select id="getList_jp" resultType="kr.ync.domain.QuizVO">
   <![CDATA[
      select * from quiz where type_idx = 1
      ]]>
   </select>
   
   <select id="getList_ns" resultType="kr.ync.domain.QuizVO">
   <![CDATA[
      select * from quiz where type_idx = 2
      ]]>
   </select>
   
   <select id="getList_cm" resultType="kr.ync.domain.QuizVO">
   <![CDATA[
      select * from quiz where type_idx = 3
      ]]>
   </select>
   
   <insert id="quiz_insert">
      insert into quiz
      values (seq_quiz_idx.nextval, #{question}, #{answer}, #{example1}, #{example2}, #{example3}, #{id}, sysdate ,#{type_idx}, sysdate)
   </insert>
   
   <insert id="type_insert">
      insert into quiz_type (type_idx, type)
      values (#{type_idx}, #{type})
   </insert>
   
   <insert id="insertSelectKey">

      <selectKey keyProperty="quiz_idx" order="BEFORE"
         resultType="int">
         select seq_quiz_idx.nextval from dual
      </selectKey>

      insert into quiz (quiz_idx,question,answer, example1, example2, example3, id, type_idx)
      values (#{quiz_idx},
      #{question}, #{answer}, #{example1}, #{example2}, #{example3}, #{id}, #{type_idx})
   </insert>
   
   <select id="read" resultType="kr.ync.domain.QuizVO">
      select * from quiz where quiz_idx =   #{quiz_idx}
   </select>


   <delete id="delete">
      delete quiz where quiz_idx = #{quiz_idx}
   </delete>
 
   <update id="update">
      update quiz
      set question= #{question},
      answer=#{answer},
      example1 = #{example1},
      example2 = #{example2},
      example3 = #{example3},
      id = #{id},
      updatedate = sysdate
      where quiz_idx =
      #{quiz_idx}
   </update>
   
   <!-- <select id="getListWithPaging" resultType="kr.ync.domain.BoardVO">
      <![CDATA[
        SELECT   bno,
              title,
              content,
              writer,
              regdate,
              updatedate
      FROM   (SELECT /*+INDEX_DESC(tbl_board pk_board) */
                  rownum rn,
                  bno,
                  title,
                  content,
                  writer,
                  regdate,
                  updatedate
            FROM   tbl_board
            WHERE   rownum <= 20 
            )
      WHERE rn > 10   
      ]]>
   </select> -->
   <!-- 
   <select id="getListWithPaging" resultType="kr.ync.domain.BoardVO">
      <![CDATA[
        SELECT   bno,
              title,
              content,
              writer,
              regdate,
              updatedate
      FROM   (SELECT /*+INDEX_DESC(tbl_board pk_board) */
                  rownum rn,
                  bno,
                  title,
                  content,
                  writer,
                  regdate,
                  updatedate
            FROM   tbl_board
            WHERE   rownum <= #{pageNum} * #{amount}
            )
      WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
    -->
   <!-- 
   <select id="getListWithPaging" resultType="kr.ync.domain.BoardVO">
      <![CDATA[
         SELECT   bno,
               title,
               content,
               writer,
               regdate,
               updatedate
         FROM   (SELECT /*+INDEX_DESC(tbl_board pk_board) */
                       rownum rn,
                       bno,
                       title,
                       content,
                       writer,
                       regdate,
                       updatedate 
               FROM   tbl_board
               WHERE
      ]]>   
               <trim prefix="(" suffix=") AND " prefixOverrides="OR">
                  <foreach item='type' collection="typeArr">
                     <trim prefix="OR">
                        <choose>
                           <when test="type == 'T'.toString()">
                              title like '%'||#{keyword}||'%'
                           </when>
                           <when test="type == 'C'.toString()">
                              content like '%'||#{keyword}||'%'
                           </when>
                           <when test="type == 'W'.toString()">
                              writer like '%'||#{keyword}||'%'
                           </when>
                        </choose>
                     </trim>
                  </foreach>
               </trim>
      <![CDATA[
               rownum <= #{pageNum} * #{amount}
                  )
         WHERE rn > (#{pageNum} -1) * #{amount}   
        ]]>
   </select>
    -->
   
   <!-- <select id="getListWithPaging" resultType="kr.ync.domain.BoardVO">
      <![CDATA[
      SELECT   bno,
            title,
            content,
            writer,
            regdate,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(tbl_board pk_board) */
                    rownum rn,
                    bno,
                    title,
                    content,
                    writer,
                    regdate,
                    updatedate 
               FROM   tbl_board
            WHERE 
        ]]>
        
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}   
      ]]>
   </select> -->
   <select id="getListWithPaging" resultType="kr.ync.domain.QuizVO">
      <![CDATA[
      SELECT   quiz_idx,
            question,
            answer,
            example1,
            example2,
            example3,
            id,
            reg_date,
            type_idx,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(quiz XPK퀴즈) */
                    rownum rn,
                    quiz_idx,
                    question,
            		answer,
            		example1,
            		example2,
            		example3,
            		id,
            		reg_date,
            		type_idx,
            		updatedate
               FROM   quiz
            WHERE
        ]]>
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
   
   <select id="getListWithPagingjp" resultType="kr.ync.domain.QuizVO">
      <![CDATA[
      SELECT   quiz_idx,
            question,
            answer,
            example1,
            example2,
            example3,
            id,
            reg_date,
            type_idx,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(quiz XPK퀴즈) */
                    rownum rn,
                    quiz_idx,
                    question,
            		answer,
            		example1,
            		example2,
            		example3,
            		id,
            		reg_date,
            		type_idx,
            		updatedate
               FROM   quiz
            WHERE
            type_idx = 1 AND
        ]]>
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
   
   <select id="getListWithPagingns" resultType="kr.ync.domain.QuizVO">
      <![CDATA[
      SELECT   quiz_idx,
            question,
            answer,
            example1,
            example2,
            example3,
            id,
            reg_date,
            type_idx,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(quiz XPK퀴즈) */
                    rownum rn,
                    quiz_idx,
                    question,
            		answer,
            		example1,
            		example2,
            		example3,
            		id,
            		reg_date,
            		type_idx,
            		updatedate
               FROM   quiz
            WHERE
            type_idx = 2 AND
        ]]>
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
   
   <select id="getListWithPagingcm" resultType="kr.ync.domain.QuizVO">
      <![CDATA[
      SELECT   quiz_idx,
            question,
            answer,
            example1,
            example2,
            example3,
            id,
            reg_date,
            type_idx,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(quiz XPK퀴즈) */
                    rownum rn,
                    quiz_idx,
                    question,
            		answer,
            		example1,
            		example2,
            		example3,
            		id,
            		reg_date,
            		type_idx,
            		updatedate
               FROM   quiz
            WHERE
            type_idx = 3 AND
        ]]>
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
   
   <select id="getuserListWithPaging" resultType="kr.ync.domain.QuizVO">
      <![CDATA[
      SELECT   quiz_idx,
            question,
            answer,
            example1,
            example2,
            example3,
            id,
            reg_date,
            type_idx,
            updatedate
      FROM   (SELECT /*+INDEX_DESC(quiz XPK퀴즈) */
                    rownum rn,
                    quiz_idx,
                    question,
            		answer,
            		example1,
            		example2,
            		example3,
            		id,
            		reg_date,
            		type_idx,
            		updatedate
               FROM   quiz
            WHERE
            id LIKE '#{id}' AND
        ]]>
      <include refid="criteria"></include> 
      
      <![CDATA[    
               rownum <= #{pageNum} * #{amount}
               )
        WHERE rn > (#{pageNum} -1) * #{amount}
      ]]>
   </select>
   
   <!-- 
   <select id="getTotalCount" resultType="int">
      <![CDATA[
      select count(*) from tbl_board where 
      bno > 0
      ]]>
   </select>
    -->
   <select id="getTotalCount" resultType="int">
      select count(*) from quiz where
      
      <include refid="criteria"></include>
      
      <![CDATA[
      quiz_idx > 0 
      ]]>
   </select>
   
</mapper>